body {
	background-color: #eee
	margin: 0pt;
	padding: 0pt;
}

header {
	margin: 0pt;
	padding: 0pt;
	width: 100%;
	background-color: #ccc;
	border-bottom: 2pt solid #999;
	border-top: 0pt;
}

a {
	margin: 0pt;
	border-collapse: collapse;
}

a:link {
	color: #037;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #037;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #07A;
	background-color: transparent;
	text-decoration: none;
}
