body {
	background-colo-r: #f5f5f5;
	/* background-color: #ffffff; */
	margin: 0pt;
	padding: 0pt;
}

header {
	margin: 0pt;
	padding: 0pt;
	width: 100%;
	background-color: #ededed;
	border-bottom: 2pt solid #aaa;
	border-top: 0pt;
}

header h1 {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	padding: 5pt;
	margin: 0pt;
}

a {
	margin: 0pt;
	border-collapse: collapse;
}

a:link {
	color: #45a;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #45a;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #48f;
	background-color: transparent;
	text-decoration: none;
}

a:active {
	color: #48f;
	background-color: transparent;
	border: 0pt;
	margin: 0pt;
}

div.sidebar {
	float: right;
	background-color: #e4e4f0;
	border-left: 1pt solid #99c;
	border-bottom: 1pt solid #99c;
	margin-left: 2em;
	margin-bottom: 1em;
	min-width: 15%;
	padding: 5pt;
}

div.sidebar li {
	display: list-item;
	list-style: square;
}
div.sidebar ul {
	padding: 0pt 0pt 0pt 1em;
	margin: 0 0 1em;
}

div.body-contents {
	padding: 5pt;
	margin-left: 10%;
	margin-right: 10%;
}

div.body-contents h1 {
	font-size: 140%;
	font-weight: bold;
	text-align: left;
	padding: 0em 0em 0em 0em;
	margin: 0pt;
	margin-top: 1em;
}

div.body-contents h2 {
	font-size: 125%;
	font-weight: bold;
	text-align: left;
	padding: 0em 0em 0em 0em;
	margin: 0pt;
}
