body {
	background-color: #f1f1f1;
	margin: 0pt;
	padding: 0pt;
}

header {
	margin: 0pt;
	padding: 0pt;
	width: 100%;
	background-color: #ddd;
	border-bottom: 2pt solid #aaa;
	border-top: 0pt;
}

header h1 {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	padding: 5pt;
	margin: 0pt;
}

a {
	margin: 0pt;
	border-collapse: collapse;
}

a:link {
	color: #05a;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #05a;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #0af;
	background-color: transparent;
	text-decoration: none;
}

a:active {
	color: #0af;
	background-color: transparent;
	border: 0pt;
	margin: 0pt;
}

div.sidebar {
	float: right;
	background-color: #dde;
	border-left: 2pt solid #99D;
	border-bottom: 2pt solid #99D;
	margin-left: 2em;
	margin-bottom: 1em;
	min-width: 15%;
	padding: 5pt;
}

div.body-content {
	padding: 5pt;
	margin-left: 10%;
	margin-right: 10%;
}
