body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

div.fullpage {
	background-color: #f5f5f5;
	font-family: sans-serif;
	position: relative;
	min-height: 100%;
}

header {
	margin: 0pt;
	padding: 0pt;
	width: 100%;
	background-color: #ededed;
	border-bottom: 2pt solid #aaa;
	border-top: 0pt;
}


header h1 {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	padding: 5pt;
	margin: 0pt;
	color: #292929;
}

header a {
	margin: 0pt;
	border-collapse: collapse;
}

header a:link {
	color: #292929;
	background-color: transparent;
	text-decoration: none;
}

header a:visited {
	color: #292929;
	background-color: transparent;
	text-decoration: none;
}

header a:hover {
	color: #292929;
	background-color: transparent;
	text-decoration: none;
}

header a:active {
	color: #292929;
	background-color: transparent;
	text-decoration: none;
}

footer {
	border-top: 1pt solid #ccc;
	background-color: #f1f1f1;
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2rem;
	margin-top: -2rem;
}

footer p {
	text-align: center;
	padding: 5px;
	margin: 0;
}

a {
	margin: 0pt;
	border-collapse: collapse;
}

a:link {
	color: #45a;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #45a;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #45a;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #45a;
	background-color: transparent;
	text-decoration: none;
}

li {
	display: list-item;
	list-style: square;
}

ul {
	padding: 0pt 0pt 0pt 1em;
	margin: 0 0 1em;
}

div.sidebar {
	float: right;
	background-color: #e4e4f0;
	border-left: 1pt solid #99c;
	border-bottom: 1pt solid #99c;
	margin-left: 2em;
	margin-bottom: 1em;
	min-width: 15%;
	padding: 5pt;
}

div.body-contents {
	padding: 5pt 0 5pt 0;
	padding-bottom: 2.5rem;
	margin-left: 10%;
	margin-right: 20%;
}

div.body-contents h1 {
	font-size: 140%;
	font-weight: bold;
	text-align: left;
	padding: 0em 0em 0.25rem 0em;
	margin: 0pt;
	margin-top: 2em;
	color: #24c;
	border-bottom: 2px solid #24c;
}

div.body-contents h2 {
	font-size: 125%;
	font-weight: bold;
	text-align: left;
	padding: 0em 0em 0.25rem 0em;
	margin: 0pt;
	margin-top: 1em;
	color: #24c;
	border-bottom: 1px solid #24c;
}

div.body-contents code {
	background-color: #e4e4e4;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
}

div.body-contents pre {
	background-color: #e4e4e4;
	border-radius: 5px;
	display: block;
	margin: 0;
	width: 80%;
	overflow: auto;
	margin-left: 1em;
	margin-right: 1em;
	padding: 10px 10px 10px 10px;
	white-space: pre;
}
